{% extends 'main/Base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block header %}
 {{ header }}
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}

  <div class="mb-3">
    <label  class="form-label">Название</label>
  </div>
  {{ form.title }}

  <div class="mb-3">
    <label  class="form-label">Описание задачи</label>
  </div>
  {{ form.description }}

  <div class="mb-3">
    <label  class="form-label">Срок выполнения</label>
  </div>
  {{ form.deadtime }}

  <div>

  </div>

  <div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <a class="btn btn-danger" href="http://127.0.0.1:8000/tasks_list" role="button">Назад</a>
  </div>
</form>
{% endblock %}
