{% extends 'main/Base.html' %}

{% block title %}
 {{ title }}
{% endblock %}

{% block header %}
 {{ header }}
{% endblock %}

{% block body %}
<form method="post">

</form>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Задача</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Описание задачи</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Добавить</button>
  <a class="btn btn-danger" href="http://127.0.0.1:8000/tasks_list" role="button">Назад</a>
</form>
{% endblock %}